

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin:20px;
    color:white;

}


h2 {
    color: white;
    display: block;
    width: 100%;
    margin:20px;
}

body {
    background-image: url("https://i.imgur.com/YPBnXKE.jpg");
    
    background-size: cover;
    background-color: rgba(0,0,0,.2);
    
}

.img-players {

    width: 150px;
}

#animeEffect {

position: absolute;
 display: flex;
 background-image: url("https://media1.tenor.com/images/f6e7382a28407c678728f6ae16a993ae/tenor.gif?itemid=14081445");
 background-size: cover;
 min-width: 600px;
 min-height: 400px;
 z-index: 2;
 transform: translate(-50%,-50%);
 left: 50%;
 top:50%;
 border: 2px solid white;
 opacity: 0.0   ;

}

#attackStatus {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: absolute;
    display: flex;
    background-color: khaki;
    z-index: 3;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;

}